body{
    background-color: grey;
}
div.claserojo{
    border: 3px;
    padding: 10px;
    height: 600px;
    width: 600px;
    background-color: #F00;
    margin: 200px;
}
div.claseazul{
    top: 100px;
    left: 200px;
    height: 450px;
    width: 200px;
    background-color: blue;
    margin: 40px 40px;
}
div.claseverde{
    position: absolute;
    top: 160px;
    left: 50px;
    height: 620px;
    width: 100px;
    background-color: green;
    margin: 40px 40px;
}
div.clasegris{
    position: absolute;
    top: 210px;
    left: 550px;
    height: 450px;
    width: 200px;
    background-color: grey;
    margin: 40px 40px;
}
div.clasenegro{
    position: absolute;
    top: 160px;
    left: 800px;
    height: 620px;
    width: 100px;
    background-color: black;
    margin: 40px 40px;
}