h1 {
    text-decoration: underline;
    color: navy;
}

.leyendaOculta {
    display: none;
}

.leyendaActiva {
    font-family: cursive;
}


table
{
align-content: center;
border-collapse: collapse;
background-color: olivedrab;
}
td
{
border: 2px solid black;
}


